
body {
  background-color: #e6edf6;
  margin: 0 auto;
  padding-top: 50px;
  height: 100vh;
}

.nav {
  background-color: #e9ecf2;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 50px;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1);
}

a {
  text-decoration: none;
  color: black;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
